h1 {
  color: rgb(0, 112, 210);
}
p {
  font-family: "Salesforce Sans", Arial, sans-serif;
  color: rgb(62, 62, 60);
}
.app {
  background-color: #fafaf9;
  height: 100vh;
  overflow: scroll;
}

.line-item-tile {
  box-shadow: 0 2px 2px, rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  background: rgb(255, 255, 255);
  margin: 0.5rem 0;
}

.line-item-tile:first-child {
  margin-top: 0;
}
